[submodule "tippspielFrontend"]
	path = tippspielFrontend
	url = https://github.com/LucaLg/TippspielFrontend
[submodule "tippspielApp"]
	path = tippspielApp
	url = https://github.com/LucaLg/TippspielApp
